<carousel data-ride="carousel">
  <slide>
    <img src="assets/banner/1.jpg" alt="First slide" class="d-block w-100">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/banner/2.jpg" alt="Second slide" class="d-block w-100">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/banner/3.jpg" alt="Third slide" class="d-block w-100">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel> 
<!-- <div>
  <button type="button" class="btn btn-info"
          (click)="noPause = !noPause">Toggle pause on hover
  </button>
</div>
  -->
<div class="container">
  <div class="row">
    <ul class="gallery_box">
      <li>
        <a href="#0"><img src="https://picsum.photos/600/700/?random" class="img-fluid" alt="Responsive image">
        <div class="box_data">
          <span>Ravi With Bike</span>
        </div></a>
      </li>
        <li>
        <a href="#0">
          <img src="https://picsum.photos/600/701/?random" class="img-fluid" alt="Responsive image">
        <div class="box_data">
          <span>Ravi Singh</span>
        </div></a>
      </li>
        <li>
        <a href="#0"><img src="https://picsum.photos/600/702/?random" class="img-fluid" alt="Responsive image">
        <div class="box_data">
          <span>White wall</span>
        </div></a>
      </li>
          <li>
        <a href="#0"><img src="https://picsum.photos/600/703/?random" class="img-fluid" alt="Responsive image">
        <div class="box_data">
          <span>Green Tree</span>
        </div></a>
      </li>
        <li style="position: relative; top: -134px;">
        <a href="#0"><img src="https://picsum.photos/600/704/?random" class="img-fluid" alt="Responsive image">
        <div class="box_data">
          <span>Blue</span>
        </div></a>
      </li>
          <li>
        <a href="#0"><img src="https://picsum.photos/600/705/?random" class="img-fluid" alt="Responsive image">
        <div class="box_data">
          <span>Ravi</span>
        </div></a>
      </li>
      
    </ul>
  </div>
</div>

