<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sample Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ABOUT US</a>
      <a class="nav-item nav-link" routerLink="services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SERVICES</a>
      <a class="nav-item nav-link" routerLink="media" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">MEDIA</a>
      <a class="nav-item nav-link" routerLink="careers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">CAREERS</a>
      <a class="nav-item nav-link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">CONTACT US</a>
    </div>
  </div>
</nav>